<div class="main-content" *ngIf="user.training">
    <div class="container-fluid" id="print-section">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <h4><b>Aluno: </b>{{user.firstname}} {{user.lastname}}
                        <span class="pull-right">
                            <a mat-button (click)="print()"
                               class="btn btn-warning btn-round btn-just-icon pull-right">
                               <i class="material-icons">print</i>
                               <div class="ripple-container"></div>
                            </a>
                        </span>
                    </h4>
                    <h4><b>Treino: </b>{{user.training.name}}</h4>
                    <h4><b>Objetivo: </b>{{user.training.objective}}</h4>
                    <h4><b>Professor: </b>{{user.training.trainer}}</h4>
                    <h4><b>Observações: </b>{{user.training.comments}}</h4>
                    <h4><b>Data da Criação: </b>{{user.training.createDate }}</h4>
                    <h4><b>Data de Vencimento: </b>{{user.training.dueDate }}</h4>
                </div>
            </div>
            <div *ngFor="let exercise of user.training.exercises" class="">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">fitness_center</i>
                        </div>
                        <p class="card-category">Exercício</p>
                        <h3 class="card-title">{{exercise.exerciseName}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">timer</i>
                            <h4>{{exercise.serie}} Séries - {{exercise.repetitions}} Repetições</h4>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <button mat-raised-button class="btn btn-blue btn-round  pull-right" (click)="finishExercises()"
                    type="submit">Finalizar
                Exercícios
            </button>

        </div>
    </div>
</div>

<div class="main-content" *ngIf="!user.training">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center">
                <h2>Não há treinos para você no momento.</h2>
            </div>
        </div>
    </div>
</div>