<h2 mat-dialog-title>Remover Aviso</h2>

<mat-dialog-content>

  <mat-label>
    Você deseja remover este aviso?
  </mat-label>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="btn btn-danger"(click)="save()">Confirmar</button>
  <button mat-raised-button  class="btn btn-primary"(click)="close()">Cancelar</button>
</mat-dialog-actions>