<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title mt-0">Estudantes da Academia</h4>
                        <p class="card-category">Selecione um estudante para visualizar as informações</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="">
                                <th>
                                    Nome
                                </th>
                                </thead>
                                <mat-spinner *ngIf="loading" [diameter]="40" [color]="'warn'"></mat-spinner>
                                <tbody *ngIf="!loading" >
                                <tr *ngFor="let user of users">
                                    <td>
                                        {{user.firstname}} {{user.lastname}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

