mat-spinner {
  margin: 10px auto 0;
}

.card-transparent {
  background-color: transparent !important;
}

.main-content {
  height: 100% !important;
}

.container-fluid {
  height: 100% !important;
}

.row {
  height: 100% !important;
}

.logo-margin {
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

.bg {
  background-image: url("../../assets/img/login_0002_Layer-1.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-blue {
  border-color: #0d004c !important;
  color: #0d004c !important;
}