<div class="bg">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto my-lg-5">
                    <div class="card card-profile">
                        <div class="card-body" *ngIf="!clickRegister">
                            <form #loginForm="ngForm" (submit)="authenticate(loginForm)">
                                <div class="column">
                                    <div class="col-md">
                                        <mat-form-field class="example-full-width" [style.fontSize.px]="18">
                                            <input matInput ngModel name="email" placeholder="E-mail" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md">
                                        <mat-form-field class="example-full-width" [style.fontSize.px]="18">
                                            <input matInput ngModel name="password" placeholder="Senha" type="password"
                                                   required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button class="btn btn-blue btn-round" type="submit"
                                        [disabled]="!loginForm.valid || loading">Entrar
                                </button>

                                <mat-spinner *ngIf="loading" [diameter]="20" [color]="'warn'"></mat-spinner>
                            </form>
                        </div>
                        <div class="card-body" *ngIf="clickRegister">
                            <div class="column">
                                <label>
                                    <h3>Faça seu <strong class="border-blue">cadastro</strong>:</h3>
                                </label>
                                <div class="col-md">
                                    <a mat-raised-button class="btn btn-lg btn-block border-blue btn-outline-info" (click)="clickingRegister()">
                                        <i class="material-icons">face</i>&nbsp;&nbsp;Aluno
                                        <div class="ripple-container"></div>
                                    </a>

                                </div>
                                <div class="col-md">
                                    <a mat-raised-button class="btn btn-lg btn-block border-blue btn-outline-info" (click)="clickingRegister()">
                                        <i class="material-icons">event</i>&nbsp;&nbsp;Personal
                                        <div class="ripple-container"></div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-profile card-transparent">
                        <div class="card-body">
                            <img class="logo-margin" src="../../assets/img/login_0000_Layer-3.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>