<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Novo Treino</h4>
                        <p class="card-category">Preencha os campos a seguir para criar um novo treino.</p>
                    </div>
                    <div class="card-body">
                        <form #createTrainingForm="ngForm" (submit)="createTraining(createTrainingForm)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput ngModel name="name" placeholder="Nome do Treino (Ex.: Treino A)"
                                               type="text" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput ngModel name="objective"
                                               placeholder="Objetivo do Treino (Ex.: Definição)"
                                               type="text" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput ngModel name="comments"
                                                  placeholder="Observações"
                                                  type="text" required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <label><b>Adicionar Exercícios</b></label>
                            <form #createExerciseForm="ngForm" (submit)="addExercise(createExerciseForm)">

                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput ngModel name="exerciseName"
                                                   placeholder="Nome do Exercício (Ex.: Esteira)"
                                                   type="text" required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput ngModel name="serie"
                                                   placeholder="Série"
                                                   type="number" min="0" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                            <input matInput ngModel name="repetitions"
                                                   placeholder="Repetições"
                                                   type="number" min="0" required>
                                        </mat-form-field>
                                    </div>
                                    <button mat-raised-button type="submit" [disabled]="!createExerciseForm.valid"
                                            class="btn btn-info btn-round btn-just-icon pull-right">
                                        <i class="material-icons">add</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>

                            <div class="card">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Lista de Exercícios</h4>
                                    <p class="card-category">Aqui está a lista de exercícios do treino.</p>
                                </div>
                                <div class="card-content table-responsive table-full-width">
                                    <table class="table table-hover">
                                        <thead class="text-info">
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Séries
                                        </th>
                                        <th>
                                            Repetições
                                        </th>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let exercise of exercises">
                                            <td>
                                                {{exercise.exerciseName}}
                                            </td>
                                            <td>
                                                {{exercise.serie}}
                                            </td>
                                            <td>
                                                {{exercise.repetitions}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!createTrainingForm.valid || exercises.length === 0"
                                    class="btn btn-blue pull-right">Criar Treino
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
