<div class="logo">
    <a href="#" class="simple-text">
        Academia Campestre
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="(user.type === menuItem.permission) || menuItem.permission === 'all'" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li class="nav-item active-pro text-center">
            <img src="../../../assets/img/Circuitoshorizontal_0000_Layer-3.png">
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="isMobileMenu()">
            <a class="nav-link" (click)="signOut()">
                <i class="material-icons">exit_to_app</i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>
