<div class="main-content">
    <div class="row">
        <div [ngClass]="{'col-lg-6 col-md-12': user.type === 'normal', 'col-md-12': user.type === 'admin'}">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Avisos</h3>
                    <form #noticeForm="ngForm" (submit)="addNotice(noticeForm)" *ngIf="isAdmin()">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput ngModel name="noticeTitle" placeholder="Título do Aviso" type="text"
                                           required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="">
                                        <textarea matInput ngModel name="noticeDescription"
                                                  placeholder="Descrição do aviso aqui" required></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit"
                                class="btn btn-blue pull-right" [disabled]="!noticeForm.valid"> Enviar aviso
                        </button>
                        <div class="clearfix"></div>

                    </form>
                </div>
                <mat-divider></mat-divider>
                <div class="card-body">
                    <mat-spinner *ngIf="loading" [diameter]="40" [color]="'warn'"></mat-spinner>
                    <div class="card" *ngFor="let notice of noticesPagedItems">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">
                                {{notice.noticeTitle}}
                                <i class="material-icons icon-pointer pull-right"
                                   (click)="openDialog(notice)">delete</i>
                            </h4>

                            <p class="card-category">{{notice.time}}</p>
                        </div>
                        <div class="card-body">
                            {{notice.noticeDescription}}
                        </div>
                    </div>

                    <div *ngIf="notices.length <= 0 && !loading" class="card text-white bg-danger mb-3">
                        <div class="card-body">
                            <h3 class="card-text text-center">Não há avisos</h3>
                        </div>
                    </div>
                </div>

                <ul *ngIf="notices.length > 4 && !loading" class="pagination justify-content-center">
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link" (click)="setPage(1)">Primeira</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Anterior</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Próxima</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" (click)="setPage(pager.totalPages)">Última</a>
                </ul>

            </div>
        </div>

        <div class="col-lg-6 col-md-12" *ngIf="user.type === 'normal'">
            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="pull-right">
                                <a mat-button (click)="print()" class="btn btn-warning btn-round btn-just-icon pull-right">
                                    <i class="material-icons">print</i>
                                    <div class="ripple-container"></div>
                                </a>
                            </span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#perimeters"
                                       data-toggle="tab">
                                        <i class="material-icons">poll</i>Perímetros
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#neuromotors"
                                       data-toggle="tab">
                                        <i class="material-icons">linear_scale</i>Neuromotores
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="print-section" class="card-body table-responsive" >
                    <div class="tab-content">
                        <div class="tab-pane active" id="perimeters">
                            <h3 class="">Avaliação de Perimetros</h3>
                            <table class="table">
                                <thead class="text-warning">
                                <th></th>
                                <th>Direito(a)</th>
                                <th></th>
                                <th>Esquerdo(a)</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Braço relaxado
                                    </td>
                                    <td>
                                        <p>{{user.perimeters.relaxArmRight}} cm</p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="text-right">{{user.perimeters.relaxArmLeft}} cm</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Braço contraído
                                    </td>
                                    <td>
                                        <p>{{user.perimeters.contractedArmRight}} cm</p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="text-right">{{user.perimeters.contractedArmLeft}} cm</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Antebraço
                                    </td>
                                    <td>
                                        <p>{{user.perimeters.forearmRight}} cm</p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="text-right">{{user.perimeters.forearmLeft}} cm</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tórax relaxado
                                    </td>
                                    <td></td>
                                    <td>
                                        <p>{{user.perimeters.relaxThorax}} cm</p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Cintura
                                    </td>
                                    <td></td>
                                    <td>
                                        <p>{{user.perimeters.waist}} cm</p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Abdômen
                                    </td>
                                    <td></td>
                                    <td>
                                        <p>{{user.perimeters.abdmone}} cm</p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Quadril
                                    </td>
                                    <td></td>
                                    <td>
                                        <p>{{user.perimeters.hip}} cm</p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Coxa
                                    </td>
                                    <td>
                                        <p>{{user.perimeters.thighRight}} cm</p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="text-right">{{user.perimeters.thighLeft}} cm</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Panturrilha
                                    </td>
                                    <td>
                                        <p>{{user.perimeters.calfRight}} cm</p>
                                    </td>
                                    <td></td>
                                    <td>
                                        <p class="text-right">{{user.perimeters.calfRight}} cm</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="neuromotors">
                            <h3 class="card-title">Avaliação dos Neuromotores</h3>
                            <h4 class="">Flexão de Braços:</h4>
                            <p>{{user.neuromotors.pushUps}} vezes</p>
                            <div class="row">
                                <div class="col-md">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title text-danger"><= 16 Ruim</h4>
                                            <h4 class="card-title">17 - 27 Abaixo da Média</h4>
                                            <h4 class="card-title">22 - 28 Média</h4>
                                            <h4 class="card-title">29 - 35 Acima da Média</h4>
                                            <h4 class="card-title">>= 36 Excelente</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <h4 class="card-title">Abdominal: </h4>
                            <p>{{user.neuromotors.abdominal}} vezes</p>
                            <div class="row">
                                <div class="col-md">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title text-danger"><strong><= 28 Ruim</strong></h4>
                                            <h4 class="card-title"><strong>29 - 32 Abaixo da Média</strong></h4>
                                            <h4 class="card-title"><strong>33 - 36 Média</strong></h4>
                                            <h4 class="card-title"><strong>37 - 42 Acima da Média</strong></h4>
                                            <h4 class="card-title"><strong>>= 43 Excelente</strong></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

