<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title mt-0">Realizar Treino</h4>
                        <p class="card-category">Selecione um aluno e o treino que ele deve realizar</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="trainingForm" (submit)="addUserTraining(trainingForm.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select formControlName="userControl" class="example-full-width" placeholder="Selecione o Aluno" required>
                                            <mat-option *ngFor="let user of users" [value]="user">
                                                {{user.firstname}} {{user.lastname}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select formControlName="trainingControl" class="example-full-width" placeholder="Selecione o Treino" required>
                                            <mat-option *ngFor="let training of trainings"  [value]="training">
                                                {{training.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" [disabled]="!trainingForm.valid"
                                    class="btn btn-blue pull-right">Realizar Treino
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>