<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto my-lg-5">
                <div class="card">
                    <div class="card-body">
                        <form #passwordForm="ngForm" (submit)="changePassword(passwordForm)">
                            <div class="column">
                                <div class="col-lg-10 pull-center">
                                    <mat-form-field class="example-full-width" [style.fontSize.px]="18">
                                        <input matInput ngModel name="currentPassword" placeholder="Senha Atual"
                                               type="password" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-10 pull-center">
                                    <mat-form-field class="example-full-width" [style.fontSize.px]="18">
                                        <input matInput ngModel name="newPassword" placeholder="Nova Senha"
                                               type="password" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-10">
                                    <mat-form-field class="example-full-width" [style.fontSize.px]="18">
                                        <input matInput ngModel name="repeatPassword" placeholder="Repetir Senha"
                                               type="password" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!passwordForm.valid"
                                    class="btn btn-blue">Alterar Senha
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>