<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Novo Usuário</h4>
                        <p class="card-category">Preencha o perfil do usuário</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="userForm" (submit)="createUser(userForm.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="emailControl" placeholder="E-mail"
                                               type="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select formControlName="typeControl" placeholder="Tipo do Usuário">
                                            <mat-option value="normal">
                                                Aluno
                                            </mat-option>
                                            <mat-option value="admin">
                                                Administrador
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="firstnameControl" placeholder="Primeiro Nome"
                                               type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="lastnameControl" placeholder="Sobrenome"
                                               type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check form-check-radio">
                                        <label>Sexo</label>
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" formControlName="genderControl"
                                                       type="radio"
                                                       id="radioMale" value="Masculino" required>
                                                Masculino
                                                <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" formControlName="genderControl"
                                                       type="radio"
                                                       id="radioFemale" value="Feminino" required>
                                                Feminino
                                                <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card" *ngIf="userForm.value.typeControl === 'normal'">
                                <div class="card-header card-header-tabs card-header-info">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a mat-button class="nav-link active" href="#perimeters"
                                                       data-toggle="tab">
                                                        <i class="material-icons">poll</i>Perímetros
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a mat-button class="nav-link" href="#neuromotors"
                                                       data-toggle="tab">
                                                        <i class="material-icons">linear_scale</i>Neuromotores
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body table-responsive">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="perimeters">
                                            <table class="table">
                                                <thead class="text-warning">
                                                <th></th>
                                                <th>Direito(a)</th>
                                                <th></th>
                                                <th>Esquerdo(a)</th>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        Braço relaxado
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="relaxArmRightControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>

                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="relaxArmLeftControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Braço contraído
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="contractedArmRightControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>

                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="contractedArmLeftControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Antebraço
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="forearmRightControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>

                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="forearmLeftControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tórax relaxado
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="relaxThoraxControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Cintura
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="waistControl" type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Abdômen
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="abdmoneControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Quadril
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="hipControl" type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Coxa
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="thighRightControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="thighLeftControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Panturrilha
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="calfRightControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="calfLeftControl"
                                                                   type="number"
                                                                   min="0" [value]="0" required>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="neuromotors">
                                            <h4 class="card-title">Flexão de Braços</h4>
                                            <mat-form-field class="example-full-width">
                                                <input matInput formControlName="pushUpsControl" type="number"
                                                       min="0" [value]="0" required>
                                            </mat-form-field>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title text-danger"><strong><= 16  Ruim</strong></h4>
                                                            <h4 class="card-title"><strong>17 - 27  Abaixo da Média</strong></h4>
                                                            <h4 class="card-title"><strong>22 - 28  Média</strong></h4>
                                                            <h4 class="card-title"><strong>29 - 35  Acima da Média</strong></h4>
                                                            <h4 class="card-title"><strong>>= 36  Excelente</strong></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-divider></mat-divider>
                                            <h4 class="card-title">Abdominal</h4>
                                            <mat-form-field class="example-full-width">
                                                <input matInput formControlName="abdominalControl" type="number"
                                                       min="0" [value]="0" required>
                                            </mat-form-field>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title text-danger"><strong><= 28  Ruim</strong></h4>
                                                            <h4 class="card-title"><strong>29 - 32  Abaixo da Média</strong></h4>
                                                            <h4 class="card-title"><strong>33 - 36  Média</strong></h4>
                                                            <h4 class="card-title"><strong>37 - 42  Acima da Média</strong></h4>
                                                            <h4 class="card-title"><strong>>= 43  Excelente</strong></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!userForm.valid"
                                    class="btn btn-blue pull-right" >Criar Perfil
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
