<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Seu Perfil</h4>
                        <p class="card-category">Complete seu perfil</p>

                        <button class="btn btn-secondary" (click)="goChangePassword()" style="float: right">Alterar Senha</button>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="profileForm" (submit)="updateProfile(profileForm.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="email" formControlName="email" placeholder="E-mail"
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="firstname" formControlName="firstname" placeholder="Primeiro Nome" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput name="lastname" formControlName="lastname" placeholder="Sobrenome" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Sobre mim</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput name="description" formControlName="description" placeholder="Descreva aqui suas limitações"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-blue pull-right"
                                    [disabled]="!formIsValid()">Atualizar Perfil
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
